<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cosmetics Insights</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <nav class="navbar">
    <div class="nav-title">COSMETICS ANALYSIS</div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/story">Story</a></li>
      <li><a href="/insights">Insights</a></li>
    </ul>
  </nav>
  <div class="content">
  </div>
</body>
</html>